---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: gitlab
  namespace: gitlab
spec:
  interval: 10m
  url: https://charts.gitlab.io

---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: gitlab
  namespace: gitlab
spec:
  interval: 10m
  chart:
    spec:
      chart: gitlab
      version: 7.0.4 # gitlab@16.0.4
      sourceRef:
        kind: HelmRepository
        name: gitlab

  valuesFrom:
    - kind: Secret
      name: gitlab-secrets
      valuesKey: values.yaml
      optional: false

  values:
    nodeSelector:
      spack.io/node-pool: gitlab

    global:
      common:
        labels: {}

      operator:
        enabled: false

      edition: ee

      hosts:
        domain: spack.io
        https: true
        gitlab:
          name: gitlab.spack.io
        minio:
          name: minio.gitlab.spack.io
        registry:
          name: registry.gitlab.spack.io
        smartcard:
          enabled: false
        ssh: ssh.gitlab.spack.io

      ingress:
        apiVersion: networking.k8s.io/v1
        configureCertmanager: false
        class: nginx

      gitlab:
        license: {}

      initialRootPassword: {}

      email:
        from: admin@gitlab.spack.io
        reply_to: noreply@gitlab.spack.io
      smtp:
        enabled: true
        address: email-smtp.us-east-1.amazonaws.com
        user_name: AKIAYSCIUVA2PDMR2WN4
        password:
          secret: gitlab-secrets
          key: smtp-password
        port: 465
        tls: true

      psql:
        connectTimeout:
        password:
          secret: gitlab-secrets
          key: postgres-password
        port: 5432
        database: gitlabhq_production
        username: gitlab

      redis:
        password:
          enabled: true

      minio:
        enabled: true

      grafana:
        enabled: false

      kas:
        enabled: false

      appConfig:
        smartcard:
          enabled: false

      antiAffinity: hard
    ### END OF GLOBAL SECTION

    certmanager:
      install: false

    prometheus:
      install: false

    nginx-ingress:
      enabled: false

    minio:
      ingress:
        tls:
          secretName: tls-gitlab-minio
      nodeSelector:
        spack.io/node-pool: gitlab
      persistence:
        size: 1000Gi
      resources:
        requests:
          cpu: 200m
          memory: 12G

    registry:
      ingress:
        tls:
          secretName: tls-gitlab-registry
      nodeSelector:
        spack.io/node-pool: gitlab

    gitlab-runner:
      install: false

    gitlab:
      ingress:
        tls:
          enabled: true
      webservice:
        ingress:
          enabled: true
          tls:
            enabled: true
            secretName: tls-gitlab-webservice
        minReplicas: 4
        maxReplicas: 16
        resources:
          limits:
            cpu: 1500m
            memory: 3.5G
          requests:
            cpu: 300m
            memory: 2.5G
        nodeSelector:
          spack.io/node-pool: gitlab
      gitlab-exporter:
        nodeSelector:
          spack.io/node-pool: gitlab

      gitlab-shell:
        service:
          type: LoadBalancer
        nodeSelector:
          spack.io/node-pool: gitlab

      sidekiq:
        nodeSelector:
          spack.io/node-pool: gitlab

      toolbox:
        nodeSelector:
          spack.io/node-pool: gitlab

        replicas: 8
        antiAffinityLabels:
          matchLabels:
            app: "gitaly"

      gitaly:
        nodeSelector:
          spack.io/node-pool: gitlab

      migrations:
        nodeSelector:
          spack.io/node-pool: gitlab

    postgresql:
      install: false

    redis:
      master:
        nodeSelector:
          spack.io/node-pool: gitlab
