---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: gitlab
  namespace: gitlab
spec:
  interval: 10m
  url: https://charts.gitlab.io

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitlab
  namespace: gitlab
spec:
  interval: 10m
  # GitLab can take a while to start up for the first time, so give it up to 15 mins before deciding it failed.
  timeout: 15m
  chart:
    spec:
      chart: gitlab
      version: 9.5.1 # gitlab@18.5.1
      sourceRef:
        kind: HelmRepository
        name: gitlab
  dependsOn:
    - name: cert-manager
      namespace: cert-manager
    - name: ingress-nginx
      namespace: ingress-nginx

  valuesFrom:
    - kind: Secret
      name: gitlab-secrets
      valuesKey: values.yaml
      optional: false
    # See terraform/modules/spack/ses.tf
    - kind: ConfigMap
      name: gitlab-ses-config
      valuesKey: values.yaml
    # See terraform/modules/spack/gitlab_object_stores.tf
    - kind: ConfigMap
      name: gitlab-s3-bucket-config
      valuesKey: values.yaml
    # See terraform/modules/spack/gitlab_redis.tf
    - kind: ConfigMap
      name: gitlab-elasticache-config
      valuesKey: values.yaml

  values:
    nodeSelector:
      spack.io/node-pool: gitlab

    global:
      common:
        labels: {}

      operator:
        enabled: false

      edition: ee

      hosts:
        domain: spack.io
        https: true
        gitlab:
          name: gitlab.spack.io
        smartcard:
          enabled: false
        ssh: ssh.gitlab.spack.io

      ingress:
        apiVersion: networking.k8s.io/v1
        configureCertmanager: false
        class: nginx
        tls:
          external: true

      gitlab:
        license: {}

      initialRootPassword: {}

      # These are managed by a config map;
      # see terraform/modules/spack/ses.tf
      # email:
      # smtp:

      psql:
        connectTimeout:
        password:
          secret: gitlab-secrets
          key: postgres-password
        port: 5432
        database: gitlabhq_production
        username: postgres

      minio:
        enabled: false

      grafana:
        enabled: false

      kas:
        enabled: false

      registry:
        enabled: false

      appConfig:
        smartcard:
          enabled: false
        lfs:
          enabled: false
        packages:
          enabled: false
        # The graphQL API can be slow to respond when querying for
        # pipelines with many jobs, so we increase the timeout
        # to 90 from its default of 30.
        graphQlTimeout: 90

      antiAffinity: hard
    ### END OF GLOBAL SECTION

    installCertmanager: false

    prometheus:
      install: false

    nginx-ingress:
      enabled: false

    registry:
      enabled: false

    gitlab-runner:
      install: false

    gitlab:
      ingress:
        tls:
          enabled: true
      webservice:
        ingress:
          enabled: true
          tls:
            enabled: true
            secretName: tls-gitlab-webservice
        minReplicas: 4
        maxReplicas: 16
        resources:
          # Requested values are based on the following Prometheus queries:
          # cpu:
          #   sum(rate(container_cpu_usage_seconds_total{namespace="gitlab", pod=~"gitlab-webservice-.*"}[5m])) by (pod)
          # memory:
          #   sum by (pod) (container_memory_max_usage_bytes{namespace="gitlab", pod=~"gitlab-webservice-.*"})
          limits:
            cpu: 12
            memory: 20G
          requests:
            cpu: 1250m
            memory: 10G
        nodeSelector:
          spack.io/node-pool: gitlab
      gitlab-exporter:
        nodeSelector:
          spack.io/node-pool: gitlab

      gitlab-shell:
        service:
          type: LoadBalancer
        resources:
          requests:
            cpu: 100m
            memory: 300M
        nodeSelector:
          spack.io/node-pool: gitlab

      sidekiq:
        resources:
          requests:
            cpu: 2
            memory: 6G
        nodeSelector:
          spack.io/node-pool: gitlab

      toolbox:
        resources:
          requests:
            cpu: 250m
            memory: 350M
        nodeSelector:
          spack.io/node-pool: gitlab

        replicas: 8
        antiAffinityLabels:
          matchLabels:
            app: "gitaly"

      gitaly:
        resources:
          requests:
            cpu: 15000m
            memory: 20Gi
        nodeSelector:
          spack.io/node-pool: gitlab
          node.kubernetes.io/instance-type: m5.4xlarge
        metrics:
          enabled: true
          serviceMonitor:
            enabled: true

      migrations:
        nodeSelector:
          spack.io/node-pool: gitlab

    postgresql:
      install: false

    redis:
      install: false
