django==4.2.4
django-click==2.3.0
django-extensions==3.2.3
kubernetes==26.1.0
python-gitlab==3.11.0
psycopg2-binary==2.9.5
opensearch-dsl==2.0.1
sentry-sdk[django]
gunicorn
celery[redis]
python-dateutil
