apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../production/karpenter/provisioners/runners/graviton/3
- ../../production/karpenter/provisioners/runners/graviton/4
- ../../production/karpenter/provisioners/runners/x86_64/v2
- ../../production/karpenter/provisioners/runners/x86_64/v3
- ../../production/karpenter/provisioners/runners/x86_64/v4
- ../../production/karpenter/provisioners/runners/windows/x86_64/v2
- ../../production/karpenter/provisioners/gitlab/provisioner.yaml
- ../../production/karpenter/provisioners/beefy/provisioner.yaml
- ../../production/karpenter/provisioners/base/provisioner.yaml
patches:
  - target:
      kind: NodePool
      name: glr-x86-64-v2
    patch: |-
      - op: replace
        path: /spec/template/spec/requirements/0/values
        value: ["us-west-2a", "us-west-2b", "us-west-2c", "us-west-2d"]

  - target:
      kind: NodePool
      name: glr-x86-64-v3
    patch: |-
      - op: replace
        path: /spec/template/spec/requirements/0/values
        value: ["us-west-2a", "us-west-2b", "us-west-2c", "us-west-2d"]

  - target:
      kind: NodePool
      name: glr-x86-64-v4
    patch: |-
      - op: replace
        path: /spec/template/spec/requirements/0/values
        value: ["us-west-2a", "us-west-2b", "us-west-2c", "us-west-2d"]

  - target:
      kind: NodePool
      name: glr-graviton3
    patch: |-
      - op: replace
        path: /spec/template/spec/requirements/0/values
        value: ["us-west-2a", "us-west-2b", "us-west-2c", "us-west-2d"]

  - target:
      kind: NodePool
      name: glr-graviton4
    patch: |-
      - op: replace
        path: /spec/template/spec/requirements/0/values
        value: ["us-west-2a", "us-west-2b", "us-west-2c", "us-west-2d"]

  - target:
      kind: NodePool
      name: x86-64-v2-win
    patch: |-
      - op: replace
        path: /spec/template/spec/requirements/0/values
        value: ["us-west-2a", "us-west-2b", "us-west-2c", "us-west-2d"]
