apiVersion: karpenter.sh/v1
kind: NodePool
metadata:
  name: placeholder
spec:
  template:
    metadata:
      labels:
        spack.io/pipeline: "true"
    spec:
      requirements:
        # Availability Zones
        - key: "topology.kubernetes.io/zone"
          operator: In
          values:
            - "us-east-1a"
            - "us-east-1b"
            - "us-east-1c"
            - "us-east-1d"

        # Instance Size
        - key: "karpenter.k8s.aws/instance-size"
          operator: In
          values:
            - "medium"
            - "large"
            - "xlarge"
            - "2xlarge"
            - "3xlarge"
            - "4xlarge"
            - "6xlarge"
            - "8xlarge"
            - "10xlarge"
            - "12xlarge"
            - "16xlarge"

        # Only use spot instances for runners
        - key: "karpenter.sh/capacity-type"
          operator: In
          values: ["spot"]

        # Only provision nodes for Linux pods
        # Needed due to https://github.com/kubernetes-sigs/karpenter/issues/1009
        - key: "kubernetes.io/os"
          operator: In
          values: ["linux"]

      nodeClassRef:
        kind: EC2NodeClass
        name: default
        group: karpenter.k8s.aws

      # Taint these nodes so only pipeline pods will be scheduled on them.
      taints:
        - key: spack.io/runner-taint
          value: "true"
          effect: NoSchedule

      startupTaints:
        # See k8s/production/custom/runner-node-certificate-controller/
        # for explanation of this
        - key: "node.spack.io/certificate-pending"
          value: "true"
          effect: "NoSchedule"

  # Terminate nodes after 5 minutes of idle time
  disruption:
    consolidationPolicy: WhenEmpty
    consolidateAfter: 5m

  # Resource limits for this provisioner only
  limits:
    cpu: 3840 # 16 vCPUs * 6 replicas * 20 concurrent jobs * 2 runners (public & protected)
    memory: 15Ti # 64 Gi * 6 replicas * 20 concurrent jobs * 2 runners (public & protected)
