---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-handler
  namespace: custom
  labels:
    app: webhook-handler
    svc: web
spec:
  selector:
    matchLabels:
      app: webhook-handler
      svc: web
  replicas: 2
  template:
    metadata:
      labels:
        app: webhook-handler
        svc: web
    spec:
      restartPolicy: Always
      serviceAccountName: webhook-handler
      containers:
        - name: webhook-handler
          image: ghcr.io/spack/django:0.3.1
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 350m
              memory: 1G
            limits:
              cpu: 1600m
              memory: 1G
          ports:
            - containerPort: 8080
          env:
            - name: GITLAB_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-endpoint
            - name: GITLAB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: webhook-handler
                  key: gitlab-token
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: secret-key
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: sentry-dsn
            - name: DB_NAME
              value: analytics
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: webhook-handler
                  key: analytics-postgresql-host
            - name: DB_USER
              value: postgres
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: webhook-handler
                  key: analytics-postgresql-password
            - name: GITLAB_DB_USER
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-user
            - name: GITLAB_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-host
            - name: GITLAB_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-name
            - name: GITLAB_DB_PASS
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-password
            - name: GITLAB_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-port
            - name: OPENSEARCH_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: opensearch-secrets
                  key: opensearch-endpoint
            - name: OPENSEARCH_USERNAME
              valueFrom:
                secretKeyRef:
                  name: opensearch-secrets
                  key: opensearch-username
            - name: OPENSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: opensearch-secrets
                  key: opensearch-password
            - name: CELERY_BROKER_URL
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: celery-broker-url
            - name: PROMETHEUS_URL
              value: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
            - name: ALLOWED_HOSTS
              value: "webhook-handler.custom.svc.cluster.local"
      nodeSelector:
        spack.io/node-pool: base

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webhook-handler-worker
  namespace: custom
  labels:
    app: webhook-handler-worker
    svc: web
spec:
  selector:
    matchLabels:
      app: webhook-handler-worker
      svc: web
  replicas: 2
  template:
    metadata:
      labels:
        app: webhook-handler-worker
        svc: web
    spec:
      restartPolicy: Always
      serviceAccountName: webhook-handler
      containers:
        - name: webhook-handler-worker
          image: ghcr.io/spack/django:0.3.1
          command: ["celery", "-A", "analytics.celery", "worker", "-l", "info", "-Q", "celery"]
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 350m
              memory: 1G
            limits:
              cpu: 1600m
              memory: 1G
          env:
            - name: DJANGO_SETTINGS_MODULE
              value: "analytics.settings.production"
            - name: GITLAB_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-endpoint
            - name: GITLAB_TOKEN
              valueFrom:
                secretKeyRef:
                  name: webhook-handler
                  key: gitlab-token
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: secret-key
            - name: SENTRY_DSN
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: sentry-dsn
            - name: DB_NAME
              value: analytics
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: webhook-handler
                  key: analytics-postgresql-host
            - name: DB_USER
              value: postgres
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: webhook-handler
                  key: analytics-postgresql-password
            - name: GITLAB_DB_USER
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-user
            - name: GITLAB_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-host
            - name: GITLAB_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-name
            - name: GITLAB_DB_PASS
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-password
            - name: GITLAB_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: gitlab-db-port
            - name: OPENSEARCH_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: opensearch-secrets
                  key: opensearch-endpoint
            - name: OPENSEARCH_USERNAME
              valueFrom:
                secretKeyRef:
                  name: opensearch-secrets
                  key: opensearch-username
            - name: OPENSEARCH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: opensearch-secrets
                  key: opensearch-password
            - name: CELERY_BROKER_URL
              valueFrom:
                secretKeyRef:
                  name: webhook-secrets
                  key: celery-broker-url
            - name: PROMETHEUS_URL
              value: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
            - name: ALLOWED_HOSTS
              value: "webhook-handler.custom.svc.cluster.local"
      nodeSelector:
        spack.io/node-pool: base
