---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../production/gateway/crds.yaml
  - ../../production/gateway/namespace.yaml
  - ../../production/gateway/release.yaml
  - ../../production/gateway/serviceaccounts.yaml
