---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../production/cdash/certificates.yaml
  - ../../production/cdash/ingress.yaml
  - ../../production/cdash/namespace.yaml
  - ../../production/cdash/release.yaml
  - ../../production/cdash/gateway.yaml

patches:
  - target:
      kind: Certificate
      name: tls-cdash
      namespace: cdash
    patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: cdash.staging.spack.io

  - target:
      kind: Ingress
      name: cdash
      namespace: cdash
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: cdash.staging.spack.io

  - target:
      kind: Gateway
      name: cdash
      namespace: cdash
    patch: |-
      - op: replace
        path: /spec/listeners/0/hostname
        value: cdash.staging.spack.io

  - target:
      kind: HTTPRoute
      name: cdash
      namespace: cdash
    patch: |-
      - op: replace
        path: /spec/hostnames/0
        value: cdash.staging.spack.io

  - target:
      kind: HelmRelease
      name: cdash
      namespace: cdash
    patch: |-
      - op: replace
        path: /spec/values/cdash/host
        value: cdash.staging.spack.io
      - op: replace
        path: /spec/values/cdash/website/resources/requests/memory
        value: 50Mi
      - op: replace
        path: /spec/values/cdash/worker/replicas
        value: 1
      - op: replace
        path: /spec/values/cdash/worker/resources/requests/memory
        value: 50Mi
