---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 10m
  url: https://kubernetes.github.io/ingress-nginx

---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 10m
  chart:
    spec:
      chart: ingress-nginx
      version: 4.11.1 # ingress-nginx@1.11.1
      sourceRef:
        kind: HelmRepository
        name: ingress-nginx
  values:
    controller:
      # Configures the ports the nginx-controller listens on
      containerPort:
        http: 80
        https: 443

      # NOTE(opadron): In case we want to configure global timeouts.
      # config:
      #   proxy-connect-timeout: "5"
      #   proxy-send-timeout: "60"
      #   proxy-read-timeout: "60"

      # configMapNamespace: ""
      # tcp:
      #   configMapNamespace: ""
      # udp:
      #   configMapNamespace: ""

      nodeSelector:
        spack.io/node-pool: beefy

      resources:
        requests:
          cpu: 500m  # request 0.5 CPU cores
          memory: 1Gi  # Request one gigabyte of memory

      replicaCount: 1
      minAvailable: 1

      autoscaling:
        enabled: true
        minReplicas: 2
        maxReplicas: 40
        targetCPUUtilizationPercentage: 50
        targetMemoryUtilizationPercentage: 50

      service:
        enabled: true

        annotations:
          "service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled": "true"
          "nginx.ingress.kubernetes.io/proxy-body-size": "10m"

          # NOTE(opadron): Set the idle timeout for the ingress LB
          "service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout": "3600"

        labels: {}

        enableHttp: true
        enableHttps: true

        ports:
          http: 80
          https: 443

        targetPorts:
          http: http
          https: https

        type: LoadBalancer

      metrics:
        enabled: true
        port: 10254

        service:
          type: ClusterIP
          servicePort: 9913

      podAnnotations:
        # fluent-bit has a built-in parser for the k8s-nginx-ingress log format
        fluentbit.io/parser: k8s-nginx-ingress

    ## Default 404 backend
    defaultBackend:
      enabled: true
      replicaCount: 3
      minAvailable: 1
      nodeSelector:
        spack.io/node-pool: base

    # TCP service key:value pairs
    # Ref: https://github.com/kubernetes/contrib/tree/master/ingress
    #                        /controllers/nginx/examples/tcp
    tcp: {}

    # UDP service key:value pairs
    # Ref: https://github.com/kubernetes/contrib/tree/master/ingress
    #                        /controllers/nginx/examples/udp
    udp: {}
    #  53: "kube-system/kube-dns:53"
