# apiVersion: gateway.networking.k8s.io/v1
# kind: Gateway
# metadata:
#   name: nginx
#   namespace: cdash
# spec:
#   gatewayClassName: nginx
#   listeners:
#   - hostname: cdash.staging.spack.io
#     name: cdash-staging-spack-io-http
#     port: 80
#     protocol: HTTP
#   - hostname: cdash.staging.spack.io
#     name: cdash-staging-spack-io-https
#     port: 443
#     protocol: HTTPS
#     tls:
#       certificateRefs:
#       - group: null
#         kind: null
#         name: tls-cdash
# status: {}
# ---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: cdash
  namespace: cdash
spec:
  parentRefs:
    - name: spack-gateway
      namespace: aws-application-networking-system
  hostnames:
    - cdash.spack.io
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      backendRefs:
        - name: cdash-website
          port: 8080
