---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cdash
  namespace: cdash
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/proxy-body-size: 10m
spec:
  tls:
  - secretName: tls-cdash
  rules:
  - host: cdash.spack.io
    http:
      paths:
      - backend:
          service:
            name: cdash
            port:
              number: 8080
        path: /
        pathType: ImplementationSpecific
