---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: aws-node-termination-handler
  namespace: kube-system
spec:
  interval: 10m
  url: https://aws.github.io/eks-charts

---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: aws-node-termination-handler
  namespace: kube-system
spec:
  interval: 10m
  chart:
    spec:
      chart: aws-node-termination-handler
      version: 0.18.0  # aws-node-termination-handler@1.16.0
      sourceRef:
        kind: HelmRepository
        name: aws-node-termination-handler
  values:
    # emitKubernetesEvents If true, Kubernetes events will be emitted
    # when interruption events are received and when actions are taken on
    # Kubernetes nodes. In IMDS Processor mode a default set of
    # annotations with all the node metadata gathered from IMDS will be
    # attached to each event
    emitKubernetesEvents: true
    enablePrometheusServer: true
    prometheusServerPort: 9092

    resources:
      requests:
        cpu: 10m
        memory: 200M
