---
# Provisioner for x86_64_v4 gitlab runners
apiVersion: karpenter.sh/v1alpha5
kind: Provisioner
metadata:
  name: glr-x86-64-v4
spec:
  providerRef:
    name: default

  # Consolidation will de-provision larger than necessary nodes
  consolidation:
    enabled: true

  # Resource limits for this provisioner only
  limits:
    resources:
      cpu: 5k
      memory: 20Ti

  requirements:
    # Only spin up amd64 nodes
    - key: "kubernetes.io/arch"
      operator: In
      values: ["amd64"]

    # Only provision nodes from certain instance families that have been verified
    # to support x86_64_v4 by archspec.
    - key: "karpenter.k8s.aws/instance-family"
      operator: In
      values:
        - "c5"
        - "c5d"
        - "c5n"
        - "c6i"
        - "c6id"
        - "d3"
        - "d3en"
        - "dl1"
        - "g4dn"
        - "i3en"
        - "i4i"
        - "inf1"
        - "m5"
        - "m5d"
        - "m5dn"
        - "m5n"
        - "m5zn"
        - "m6i"
        - "m6id"
        - "r5"
        - "r5b"
        - "r5d"
        - "r5dn"
        - "r5n"
        - "r6i"
        - "r6id"
        - "t3"
        - "trn1"
        - "vt1"
        - "x2iedn"
        - "x2iezn"
        - "z1d"

    # Instance Size
    - key: "karpenter.k8s.aws/instance-size"
      operator: In
      values:
        - "medium"
        - "large"
        - "xlarge"
        - "2xlarge"
        - "3xlarge"
        - "4xlarge"
        - "6xlarge"
        - "8xlarge"

    # Availability Zones
    - key: "topology.kubernetes.io/zone"
      operator: In
      values:
        - "us-east-1a"
        - "us-east-1b"
        - "us-east-1c"
        - "us-east-1d"

    # Try spot, fall over to on-demand
    - key: "karpenter.sh/capacity-type"
      operator: In
      values: ["spot", "on-demand"]

  # Only provision nodes for pods specifying the glr-x86-64-v4 node pool
  labels:
    spack.io/node-pool: glr-x86-64-v4
