apiVersion: batch/v1
kind: CronJob
metadata:
  name: clear-admin-keys
  namespace: custom
spec:
  schedule: "0 0 10 */2 *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: clear-admin-keys
          restartPolicy: Never
          containers:
          - name: clear-admin-keys
            image: ghcr.io/spack/ci-key-clear:0.0.3
            imagePullPolicy: IfNotPresent
            resources:
              requests:
                cpu: 500m
                memory: 50M
            envFrom:
            - configMapRef:
                name: python-scripts-sentry-config
          nodeSelector:
            spack.io/node-pool: base
