---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: build-timing-processor
  namespace: custom
  labels:
    app: build-timing-processor
    svc: web
spec:
  selector:
    matchLabels:
      app: build-timing-processor
      svc: web
  replicas: 2
  template:
    metadata:
      labels:
        app: build-timing-processor
        svc: web
    spec:
      restartPolicy: Always
      serviceAccountName: build-timing-processor
      containers:
        - name: build-timing-processor
          image: ghcr.io/spack/build-timing-processor:0.0.2
          imagePullPolicy: Always
          resources:
            requests:
              cpu: 350m
              memory: 1G
            limits:
              cpu: 1600m
              memory: 1G
          ports:
            - containerPort: 8080
      nodeSelector:
        spack.io/node-pool: base
