apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../production/ingress-nginx/namespace.yaml
- ../../production/ingress-nginx/release.yaml
patches:
  - target:
      kind: HelmRelease
      name: ingress-nginx
      namespace: ingress-nginx
    patch: |-
      - op: replace
        path: /spec/values/controller/autoscaling/maxReplicas
        value: 1
      - op: replace
        path: /spec/values/controller/autoscaling/minReplicas
        value: 1
      - op: replace
        path: /spec/values/defaultBackend/replicaCount
        value: 1
