---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../production/prometheus/release.yaml
  - ../../production/prometheus/oauth2-proxy.yaml
  - ../../production/prometheus/httproutes.yaml

patches:
  - target:
      kind: HTTPRoute
      name: oauth2-proxy
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/hostnames/0
        value: prometheus.staging.spack.io

  - target:
      kind: HTTPRoute
      name: kube-prometheus-stack-alertmanager
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/hostnames/0
        value: alertmanager.staging.spack.io

  - target:
      kind: HTTPRoute
      name: kube-prometheus-stack-grafana
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/hostnames/0
        value: grafana.staging.spack.io

  - target:
      kind: HelmRelease
      name: kube-prometheus-stack
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/values/alertmanager/alertmanagerSpec/externalUrl
        value: https://alertmanager.staging.spack.io

  - target:
      kind: HelmRelease
      name: kube-prometheus-stack
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/values/grafana/grafana.ini/server/root_url
        value: https://grafana.staging.spack.io

  - target:
      kind: HelmRelease
      name: kube-prometheus-stack
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/values/prometheus/prometheusSpec/externalUrl
        value: https://prometheus.staging.spack.io
      - op: replace
        path: /spec/values/prometheus/prometheusSpec/additionalScrapeConfigs/0/static_configs/0/targets/0
        value: gitlab.staging.spack.io

  - target:
      kind: Deployment
      name: oauth2-proxy
      namespace: monitoring
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args/5
        value: --redirect-url=https://prometheus.staging.spack.io/oauth2/callback

        # OAUTH2_PROXY_CLIENT_ID
      - op: replace
        path: /spec/template/spec/containers/0/env/0/value
        value: 5346c6b5d5bea71fb115
