---
apiVersion: helm.fluxcd.io/v1
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  releaseName: ingress-nginx
  chart:
    name: ingress-nginx
    repository: https://kubernetes.github.io/ingress-nginx
    version: 3.4.0  # ingress-nginx@0.40.1
  values:
    controller:
      # Configures the ports the nginx-controller listens on
      containerPort:
        http: 80
        https: 443

      # NOTE(opadron): In case we want to configure global timeouts.
      # config:
      #   proxy-connect-timeout: "5"
      #   proxy-send-timeout: "60"
      #   proxy-read-timeout: "60"

      # configMapNamespace: ""
      # tcp:
      #   configMapNamespace: ""
      # udp:
      #   configMapNamespace: ""

      nodeSelector:
        spack.io/node-pool: base

      replicaCount: 1
      minAvailable: 1

      autoscaling:
        enabled: true
        minReplicas: 1
        maxReplicas: 20
        targetCPUUtilizationPercentage: 50
        targetMemoryUtilizationPercentage: 50

      service:
        enabled: true

        annotations:
          "service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled": "true"
          "nginx.ingress.kubernetes.io/proxy-body-size": "10m"

          # NOTE(opadron): Set the idle timeout for the ingress LB
          "service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout": "3600"

        labels: {}

        enableHttp: true
        enableHttps: true

        ports:
          http: 80
          https: 443

        targetPorts:
          http: http
          https: https

        type: LoadBalancer

      metrics:
        enabled: true
        port: 10254

        service:
          type: ClusterIP
          servicePort: 9913

        serviceMonitor:
          enabled: true

    ## Default 404 backend
    defaultBackend:
      enabled: true
      replicaCount: 3
      minAvailable: 1
      nodeSelector:
        spack.io/node-pool: base

    # TCP service key:value pairs
    # Ref: https://github.com/kubernetes/contrib/tree/master/ingress
    #                        /controllers/nginx/examples/tcp
    tcp: {}

    # UDP service key:value pairs
    # Ref: https://github.com/kubernetes/contrib/tree/master/ingress
    #                        /controllers/nginx/examples/udp
    udp: {}
    #  53: "kube-system/kube-dns:53"
