name: Build Docker Images

on:
  push:
    branches:
      - main
    paths:
      - analytics/**
      - images/**
      - .github/workflows/custom_docker_builds.yml
  pull_request:
    paths:
      - analytics/**
      - images/**
      - .github/workflows/custom_docker_builds.yml

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - docker-image: ./images/gh-gl-sync
            image-tags: ghcr.io/spack/ci-bridge:0.0.46
          - docker-image: ./images/ci-key-clear
            image-tags: ghcr.io/spack/ci-key-clear:0.0.2
          - docker-image: ./images/gitlab-stuckpods
            image-tags: ghcr.io/spack/stuckpods:0.0.1
          - docker-image: ./images/gitlab-clear-pipelines
            image-tags: ghcr.io/spack/gitlab-clear-pipelines:0.0.1
          - docker-image: ./images/gitlab-delete-stale-branches
            image-tags: ghcr.io/spack/gitlab-delete-stale-branches:0.0.1
          - docker-image: ./images/gitlab-skipped-pipelines
            image-tags: ghcr.io/spack/gitlab-skipped-pipelines:0.0.3
          - docker-image: ./images/notary
            image-tags: ghcr.io/spack/notary:0.0.3
          - docker-image: ./images/python-aws-bash
            image-tags: ghcr.io/spack/python-aws-bash:0.0.2
          - docker-image: ./images/snapshot-release-tags
            image-tags: ghcr.io/spack/snapshot-release-tags:0.0.4
          - docker-image: ./images/cache-indexer
            image-tags: ghcr.io/spack/cache-indexer:0.0.6
          - docker-image: ./analytics
            image-tags: ghcr.io/spack/django:0.5.8
          - docker-image: ./images/ci-prune-buildcache
            image-tags: ghcr.io/spack/ci-prune-buildcache:0.0.4
          - docker-image: ./images/protected-publish
            image-tags: ghcr.io/spack/protected-publish:0.0.9
          - docker-image: ./images/retry-trigger-jobs
            image-tags: ghcr.io/spack/retry-trigger-jobs:0.0.2
    steps:
      - name: Checkout
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0

      - name: Log in to the Container registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: false

      - name: Build ${{ (github.ref == 'refs/heads/main' && 'and push ') || '' }}${{ matrix.docker-image }}
        id: docker-build-push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ${{ matrix.docker-image }}
          file: ${{ matrix.docker-image }}/Dockerfile
          push: ${{ github.ref == 'refs/heads/main' }} # only publish image on push to main
          tags: ${{ matrix.image-tags }}
          platforms: linux/amd64,linux/arm64

      - name: Image digest
        run: echo ${{ steps.docker-build-push.outputs.digest }}
