name: Publish Docker Image

on:
  push:
    branches: master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./gh-gl-sync
          file: ./gh-gl-sync/Dockerfile
          push: true
          tags: zackgalbreath/spack-ci-bridge:0.0.1
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
