name: spack_ci_bridge

on:
  pull_request:
    paths:
      - images/gh-gl-sync/**

jobs:
  spack_ci_bridge:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v6
    - name: dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends                        \
          build-essential                                                      \
          cmake                                                                \
          git                                                                  \
          openssh-client                                                       \
          python3-pip
        sudo pip3 install -r images/gh-gl-sync/requirements.txt
    - name: test
      run: |
        ctest -VV -S .github/spack_ci_bridge.cmake
