---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: sealed-secrets
  namespace: kube-system
spec:
  interval: 10m
  url: https://bitnami-labs.github.io/sealed-secrets

---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: sealed-secrets-controller
  namespace: kube-system
spec:
  interval: 10m
  chart:
    spec:
      chart: sealed-secrets
      version: v2.8.1
      sourceRef:
        kind: HelmRepository
        name: sealed-secrets
  values:
    nodeSelector:
      spack.io/node-pool: base
    tolerations:
      - key: CriticalAddonsOnly
        operator: Equal
        effect: NoSchedule
